{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
  ]
%}
{% if attributes -%}
  {% set attributes = attributes.addClass(classes) %}
{% endif %}

{% if attributes.class|trim|length -%}
  <div{{ attributes }}>
{% endif %}

  {% block children %}
    {{ children }}
  {% endblock %}

{% if attributes.class|trim|length -%}
  </div>
{% endif %}
