{% if wrapper_attributes and wrapper_attributes.storage|length -%}
  <div{{ wrapper_attributes }}>
{% endif %}
    <textarea{{ attributes }}>{{ value }}</textarea>
{% if wrapper_attributes and wrapper_attributes.storage|length -%}
  </div>
{% endif %}
