@import '../vendor/drupal-breakpoints';

@mixin mq($breakpoint) {
  @if map-has-key($drupal-breakpoints, $breakpoint) {
    $query: map-get($drupal-breakpoints, $breakpoint);
    @media #{$query} {
      @content;
    }
  } @else {
    @media screen and (#{$breakpoint}) {
      @content;
    }
  }
}

@mixin button-color($color1, $color2) {
  background-color: transparent;
  color: $color1;

  &:after {
    background-color: $color1;
  }

  &:hover {
    background-color: $color1;
    color: $color2;

    &::after {
      background-color: $color2;
    }
  }
}

@mixin centered-layout {
  margin: 0 auto;
  max-width: $layout-max-width;
  overflow: hidden;
  padding: $layout-padding;
}

@mixin marker($svg) {
  align-items: center;
  display: inline-flex;
  flex-direction: row-reverse;

  &:after {
    content: url($svg);
    line-height: 1;
    padding-right: 0.8rem;
  }
}

@mixin link-marker($svg) {
  a {
    @include marker($svg);
  } 
}
