{% if bg %}
  <section class="section hero-header">
    <div class="hero-header-inner">
      {% block title %}{% endblock %}
    </div>
    <div class="full-width-bg js-parallaxed" style="background-image:url({{ bg }});"></div>
  </section>
{% endif %}
