<footer class="second-footer">
	<div class="footer-inner">
    {{ page.footer }}

		<div class="copyright">
			© 2019  Tous droits réservés
		</div>
	</div>
</footer>

<a href="#top" id="back-top"><span></span></a>
