<footer class="main-footer">
	<div class="footer-inner">
		<div class="logo">
			<a href="{{ url('<front>') }}" class="logo-link" title="Vers la page d'accueil">
				<img src="/{{ directory }}/logo-{{ language.getId() }}.svg" alt="">
			</a>
		</div>

    {{ page.footer }}
	</div>
</footer>
