{% include '@base_theme/includes/header.html.twig' %}

{% if attributes -%}
  <div{{ attributes }}>
{% endif %}

    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ page.content }}

{% if attributes -%}
  </div>
{% endif %}

{% if not is_front %}
  {% include '@base_theme/includes/footer--page.html.twig' %}
{% endif %}

{% include '@base_theme/includes/footer.html.twig' %}
