{%
  set classes = [
    'layout',
    'layout--onecol',
    settings.label ? settings.label|clean_class,
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.content }}
  </div>
{% endif %}
